---
import Layout from '../layouts/Layout.astro'
import ScrollToTopBtn from '../components/ScrollToTopBtn.astro'
import TimelineContainer from '../components/TimelineContainer.astro'

import landingPageBgImage from '../../src/images/landing_page/hero/hero_bg.jpg'

import Section from '../components/Section.astro'
import Overlay from '../components/Overlay.astro'
import SocialIconsContainer from '../components/SocialIconsContainer.astro'
import PageIntroText from '../components/PageIntroText.astro'
import ArtistCardsContainer from '../components/ArtistCardsContainer.astro'

const navItems = [
  {
    href: '/about',
    text: 'Om',
  },
  {
    href: '/music',
    text: 'Musik',
  },
  {
    href: '/concerts',
    text: 'Koncerter',
  },
]
---

<Layout navItems={navItems}>
  <Section class='relative h-full w-full landing-about' id='landing_hero'>
    <header
      class='absolute top-[50%] left-[50%] -translate-[50%] z-100 uppercase'>
      <h1
        class='hero-heading-text-color tracking-wider text-[44px] md:text-8xl'>
        OM
      </h1>
    </header>
    <img
      src='../../src/images/landing_page/hero/hero_bg.jpg'
      class='w-full h-full object-cover absolute top-0 left-0'
      alt='hero landing image'
    />
    <Overlay />
  </Section>

  <Section class='info-about'>
    <TimelineContainer />
  </Section>

  <ScrollToTopBtn />
</Layout>
<ScrollToTopBtn />
