---
import Layout from '../layouts/Layout.astro'
import ScrollToTopBtn from '../components/ScrollToTopBtn.astro'
import Hero from '../components/Hero.astro'
import Card from '../components/Card.astro'
import {Image} from '@astrojs/image/components'
import landingPageBgImage from '../../src/images/landing_page/hero/hero_bg.jpg'

import Section from '../components/Section.astro'
import Overlay from '../components/Overlay.astro'
import PageIntroText from '../components/PageIntroText.astro'

const navItems = [
  {
    href: '/about',
    text: 'Om',
  },
  {
    href: '/music',
    text: 'Musik',
  },
  {
    href: '/concerts',
    text: 'Koncerter',
  },
]
---

<Layout navItems={navItems}>
  <Section class={`h-screen relative`} id='concerts'>
    <Hero
      heroHeaderText='Koncerter'
      heroImageSrc='../src/images/concert/hero/hero_bg.png'
      heroImageAlt='hero concert image'
    />
  </Section>

  <PageIntroText
    pageIntroText='Vi tager naturligvis ud og spiller for jer allesammen - unge som gamle! Så find et sted nær jer, og så ses vi til en svingom eller to; for hvis der er en, vi helst vil optræde for, er det dig!'
  />
  <ScrollToTopBtn />
</Layout>
