---
import Layout from "../layouts/Layout.astro";
import ScrollToTopBtn from "../components/ScrollToTopBtn.astro";
import {Image} from "@astrojs/image/components";
import landingPageBgImage from "../../src/images/landing_page/hero/hero_bg.jpg";

import Section from "../components/Section.astro";
import Overlay from "../components/Overlay.astro";
import SocialIconsContainer from "../components/SocialIconsContainer.astro";
import Navigation from "../components/Navigation.astro";

const iconLinks = [
  {
    icon: "fa-brands fa-facebook-f",
    href: "https://www.facebook.com/profile.php?id=61574049239842",
    target: "_blank",
    color: "var(--primary-text-color)",
    hoverColor: "var(--secondary-text-color)",
  },
  {
    icon: "fa-brands fa-instagram",
    href: "https://www.instagram.com/hovednavn.dk/",
    color: "var(--primary-text-color)",
    target: "_blank",
  },
  {
    icon: "fa-brands fa-spotify",
    href: "https://open.spotify.com/artist/3OwrJTLlWahORBut7aEXe8",
    color: "var(--primary-text-color)",
    target: "_blank",
  },
];

const navItems = [
  {
    href: "/about",
    text: "Om",
  },
  {
    href: "/music",
    text: "Musik",
  },
  {
    href: "/concerts",
    text: "Koncerter",
  },
];
---

<Layout>
  <Navigation navItems={navItems} />
  <Section
    class="relative h-full w-full landing-hero overflow-clip"
    id="landing_hero">
    <header
      class="absolute top-[50%] left-[50%] -translate-[50%] z-100 uppercase">
      <h1
        class="hero-heading-text-color tracking-wider text-[44px] md:text-8xl">
        Hovednavn
      </h1>
    </header>
    <img
      src="../../src/images/landing_page/hero/hero_bg.jpg"
      class="w-full h-full object-cover absolute top-0 left-0"
      alt="hero landing image"
    />
    <Overlay />
    <SocialIconsContainer
      list={iconLinks}
      class="absolute bottom-6 left-[50%] -translate-x-[50%]"
    />
  </Section>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nam nisi voluptatibus, at ipsum reprehenderit consequuntur repudiandae delectus alias expedita accusantium nobis tempora quia animi aliquam odio? Aut commodi magnam omnis itaque inventore mollitia placeat magni optio sed necessitatibus pariatur explicabo in, culpa sequi eveniet et eius fugiat maiores repellat nostrum. Ab consequatur corporis quas nisi illum sed repellendus quae quod aperiam quia, aut veritatis laborum nihil dolor doloremque dignissimos sint? Cumque veritatis voluptate aliquid asperiores, sunt eveniet, libero iusto ipsam blanditiis earum iure consectetur inventore similique harum itaque sit eligendi officiis facilis accusamus totam, quae ad sequi. Velit asperiores magnam itaque nostrum? Consequatur quidem, minus inventore dicta vel corrupti aliquid recusandae exercitationem nulla beatae sed omnis tempore temporibus repellendus. Id, consectetur voluptate, consequuntur culpa, ipsam error nesciunt ipsa nobis deleniti obcaecati maxime nam cum blanditiis corporis voluptatem quod. Sapiente amet accusamus odio, maiores consequatur similique quod recusandae totam aspernatur esse debitis nesciunt id ipsam enim saepe tempore architecto ex nihil et ipsum voluptate quos aliquam quas reprehenderit. Et vel atque vitae perspiciatis hic aut beatae dolorem, sapiente expedita enim soluta quam ullam impedit, nulla itaque consequuntur consectetur corrupti culpa voluptatum delectus dicta! Quisquam libero nesciunt aspernatur, quam voluptatum necessitatibus fugiat dolore autem vero aut, cumque perferendis incidunt vitae distinctio laboriosam molestiae sint ut sequi illo natus eaque quod. Vero ullam nihil ipsam eum dolorum praesentium ea cumque aspernatur perspiciatis veritatis ad ipsum, amet nulla, maxime dicta incidunt sed ab enim beatae hic officia. Delectus culpa temporibus facilis qui facere maiores hic, laudantium ea dolorem porro sunt. Aspernatur, esse. Blanditiis impedit error saepe nulla quis ipsam ad ex odit debitis laboriosam ut, dolore, voluptate voluptatum harum sit id animi repellat esse magni reiciendis. Quas atque corrupti, asperiores magnam aut recusandae consectetur voluptatibus maxime praesentium ab officiis in nostrum mollitia eligendi numquam et. Illum incidunt enim, soluta cum harum optio laborum facilis aliquid quidem ipsum a eligendi ipsa tempore expedita blanditiis error voluptas impedit id odio voluptatibus reprehenderit molestias. Nostrum ullam autem, ducimus ab tenetur quod quaerat quasi quidem sit aliquam consequatur sunt nesciunt earum mollitia doloribus fugiat corrupti, consectetur molestias at esse nulla minima corporis. Dolorum officia numquam facere, incidunt voluptate earum sunt aspernatur beatae aliquam mollitia ducimus ut non, ad quis deleniti amet quo dolor officiis vero fuga, voluptas repellendus possimus atque accusamus! Dolorem sint eveniet eius eligendi deleniti corporis libero iusto deserunt doloribus labore, voluptate repellendus maxime similique nam pariatur ut expedita laudantium reprehenderit nihil ratione. Quis dolore quasi laboriosam porro, dignissimos qui velit, perferendis obcaecati ipsa numquam suscipit ipsam? Quibusdam fuga obcaecati quisquam sint, praesentium, veritatis illo ex animi incidunt reiciendis suscipit nostrum tempore consequatur itaque recusandae explicabo magni, porro esse illum rem similique! Saepe voluptate repellat aperiam nam, numquam eos voluptatem voluptatibus voluptas totam. Quo beatae tenetur vero fugit enim. Ullam odio repudiandae, quia saepe quae qui natus quidem. Inventore accusamus placeat nostrum iusto quod adipisci neque distinctio temporibus numquam nihil, provident totam corporis exercitationem alias eum sapiente itaque? Reprehenderit autem, natus laudantium molestiae, hic iure repellat id, dolore laborum accusamus unde similique sed laboriosam? Enim, veniam! Fugiat voluptatum neque illo. Necessitatibus culpa quae doloremque, soluta inventore rem ipsum quo earum, deleniti, eius et magnam doloribus quibusdam. Doloribus distinctio blanditiis et cumque aliquid adipisci nihil necessitatibus totam saepe commodi nisi ipsa eveniet, veritatis quisquam voluptates? Qui doloribus, quam modi nobis error velit atque consectetur deserunt labore sit rerum corrupti vel excepturi. Quis ab dolorem sint nihil repellendus dolores harum, adipisci est soluta tempora quo, fugit ut assumenda! Cumque enim impedit maiores. Laudantium, quos voluptatibus? Dolore sunt quos delectus reprehenderit corporis est. Autem, inventore! Totam exercitationem perferendis molestiae deleniti alias neque iure obcaecati, consequatur nobis nihil temporibus dignissimos in expedita enim necessitatibus optio fuga nostrum porro a nam nisi facilis eius. Ad nostrum corrupti fugit aliquid officiis laboriosam culpa, ex recusandae maxime assumenda iste saepe praesentium, quam neque eum autem, eos eaque laborum nihil corporis perspiciatis doloribus ducimus? Repellat facilis incidunt distinctio voluptatibus repudiandae nulla officiis cumque velit dignissimos. Quasi, dolor sed dolores veniam expedita officia architecto eveniet quisquam, deserunt nemo maxime iste earum error nesciunt. Earum, dolores. Ut deserunt facilis cupiditate architecto numquam repudiandae aspernatur voluptatum eius! Odio, hic. Modi ea quam illum et vitae itaque aut facere ratione, sequi velit voluptatibus nostrum, consequuntur odio fuga voluptate, quisquam quod ab laborum officiis id eligendi corrupti. Odio iure perspiciatis cumque repellat error accusamus at ex excepturi similique ipsam aperiam modi rem incidunt, atque commodi beatae! Voluptates fugit corrupti in sint molestias, ipsam ut quibusdam dolor obcaecati alias architecto atque sapiente magnam excepturi minus odit cupiditate quis earum unde soluta cumque eum, fugiat, numquam eius. Repellat quos dolores assumenda enim obcaecati quibusdam, aperiam aut hic, pariatur et qui quasi praesentium molestiae atque corrupti ex quis deserunt! Soluta, officia quo iusto magni harum nemo quam aperiam illo culpa odit rerum. Harum molestias obcaecati recusandae distinctio. Nulla earum quo reprehenderit ipsa corporis qui voluptas! Magni impedit nesciunt doloremque quidem ab, optio, atque iure dolore possimus animi, vitae mollitia aspernatur quam quaerat debitis aliquam hic! Eos molestias cupiditate dolor dicta animi, tenetur, atque quo maiores provident quisquam vel vitae odit veniam perspiciatis laboriosam iure doloremque magnam assumenda aliquid eveniet ullam voluptate ratione? Fugiat amet corrupti dolorum, ipsa facere doloribus. Quos reprehenderit nulla nesciunt in. Nam dicta nulla fugiat laborum, obcaecati consequuntur cupiditate saepe placeat! Eum laudantium obcaecati distinctio quos voluptas reiciendis assumenda numquam laborum, voluptatibus, ad fugiat dolores aspernatur debitis nihil culpa molestias quam repellat aut non facere. Qui eaque est voluptas exercitationem ratione consequuntur cumque aspernatur nam doloremque, blanditiis dolorum maxime magnam harum. Dolorem nisi soluta, dolores, quibusdam quia illum ullam officiis hic similique corrupti nemo id, in quam. Enim accusamus voluptatem fugiat ad! Similique nemo adipisci saepe, debitis mollitia atque, dolores reprehenderit voluptas voluptatum perspiciatis, labore recusandae quae distinctio animi magni consectetur. Id atque iure itaque quam sequi debitis laborum eos harum officiis saepe soluta tempora unde voluptatibus, similique at est, voluptas corrupti maiores. Iusto sit laudantium officiis, accusantium sed similique corporis, laboriosam vel, labore est adipisci saepe reiciendis?
  </p>
  <ScrollToTopBtn />
</Layout>
