---
import Layout from '../layouts/Layout.astro'
import ScrollToTopBtn from '../components/ScrollToTopBtn.astro'
import RecordPlayer from '../components/RecordPlayer.astro'
import {Image} from '@astrojs/image/components'
import landingPageBgImage from '../../src/images/landing_page/hero/hero_bg.jpg'

import Section from '../components/Section.astro'
import Overlay from '../components/Overlay.astro'
import SocialIconsContainer from '../components/SocialIconsContainer.astro'
import Navigation from '../components/Navigation.astro'
import MainFooter from '../components/MainFooter.astro'

const navItems = [
  {
    href: '/about',
    text: 'Om',
  },
  {
    href: '/music',
    text: 'Musik',
  },
  {
    href: '/concerts',
    text: 'Koncerter',
  },
]
---

<Layout
  title='Musik'
  pageIntroText='Velkommen til vores musikalske univers. Her kan du få en forsmag på, hvad vi har at byde på - om det er lette melodier eller mere eftertænksomme tekster, har vi helt sikkert noget for dig! Så giv det et lyt, og så ses vi forhåbentlig til en koncert eller to.'
  navItems={navItems}>
  <Section class='relative h-full w-full music-about' id='music_hero'>
    <header
      class='absolute top-[50%] left-[50%] -translate-[50%] z-100 uppercase'>
      <h1
        class='hero-heading-text-color tracking-wider text-[44px] md:text-8xl'>
        MUSIK
      </h1>
    </header>
    <img
      src='../src/images/concert/hero/hero_bg.png'
      class='w-full h-full object-cover absolute top-0 left-0'
      alt='hero music image'
    />
    <Overlay />
  </Section>

  <ScrollToTopBtn />
  <RecordPlayer />
</Layout>
