---
import Layout from '../layouts/Layout.astro'
import ScrollToTopBtn from '../components/ScrollToTopBtn.astro'
import {Image} from '@astrojs/image/components'
import landingPageBgImage from '../../src/images/landing_page/hero/hero_bg.jpg'

import Section from '../components/Section.astro'
import Overlay from '../components/Overlay.astro'
import SocialIconsContainer from '../components/SocialIconsContainer.astro'
import Navigation from '../components/Navigation.astro'
import MainFooter from '../components/MainFooter.astro'

const navItems = [
  {
    href: '/about',
    text: 'Om',
  },
  {
    href: '/music',
    text: 'Musik',
  },
  {
    href: '/concerts',
    text: 'Koncerter',
  },
]
---

<Layout title='Musik'>
  <Navigation navItems={navItems} />
  <Section class='relative h-full w-full music-about' id='music_hero'>
    <header
      class='absolute top-[50%] left-[50%] -translate-[50%] z-100 uppercase'>
      <h1
        class='hero-heading-text-color tracking-wider text-[44px] md:text-8xl'>
        MUSIK
      </h1>
    </header>
    <img
      src='../src/images/concert/hero/hero_bg.png'
      class='w-full h-full object-cover absolute top-0 left-0'
      alt='hero music image'
    />
    <Overlay />
  </Section>

  <ScrollToTopBtn />

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, placeat!
    Cupiditate ratione molestias nihil corporis recusandae iste eum eveniet unde
    eos quibusdam asperiores aperiam maxime exercitationem doloremque, officiis
    soluta ipsam inventore. Accusantium iure id tempore dolorem laborum est
    voluptate temporibus exercitationem voluptatibus, consequuntur impedit nihil
    aperiam in! Provident cum perspiciatis accusamus tenetur repellendus
    exercitationem eveniet quas quia cumque, culpa, nobis consectetur. Odit
    praesentium reiciendis beatae consequuntur consectetur molestias autem,
    aperiam temporibus dolores quos molestiae ipsum iusto voluptates minima
    ullam. Dolore, tempora molestias. Molestias qui facilis labore veniam ea,
    nemo, explicabo maxime natus optio eos non debitis pariatur ab repellendus
    ad quo a voluptatum? Molestias necessitatibus quia facere ab a aliquam quam
    eaque, alias quaerat magnam iste esse error quos vel iure ipsa? Ea dolorem
    necessitatibus culpa animi cupiditate consequatur distinctio labore
    provident nostrum iste tenetur dolor nemo repellendus eligendi nesciunt
    inventore assumenda molestiae, saepe harum, hic id numquam? Cupiditate
    quaerat deleniti porro, vitae labore optio consequuntur voluptatem ea earum
    accusantium dolor laborum maxime doloribus illo doloremque ullam commodi
    repudiandae. Aliquam ipsum cupiditate obcaecati itaque tempore sit omnis
    sequi quas porro officia? Necessitatibus mollitia officia officiis
    laudantium veniam explicabo. Molestias perferendis temporibus dolorum,
    tempore dolore beatae reprehenderit repellat asperiores! Nisi autem
    repudiandae illo quae quod, nostrum aliquid, beatae quidem, magni voluptatem
    atque. Hic adipisci at assumenda, molestias ratione quasi quidem odit aut
    nobis corrupti ullam. Vero repudiandae autem inventore, consectetur ipsa
    numquam ipsam mollitia maiores odio quos provident asperiores earum velit
    quis voluptatibus quasi commodi consequuntur id nam perferendis debitis
    soluta enim reiciendis reprehenderit. Inventore eaque alias suscipit ipsum
    unde, cum officia cumque? Eos, consectetur nemo dolor est omnis odio
    incidunt, excepturi sapiente, ut repudiandae dolore exercitationem doloribus
    aliquid minus mollitia saepe quibusdam velit vero corrupti facilis
    voluptatem unde tempora! Dolorum deleniti incidunt at saepe ab cum nihil
    similique nobis, dignissimos voluptas tempore veniam sapiente. Iste,
    adipisci magni soluta atque totam necessitatibus aperiam dolor sed provident
    enim fuga eius dolore repudiandae expedita saepe porro nam sequi facilis
    blanditiis, numquam debitis natus rem! Non ad possimus deserunt eligendi
    doloribus at minima, nisi eaque nobis, laborum voluptate expedita porro ea
    ut. Itaque deleniti laudantium, exercitationem error beatae, et quo corporis
    officiis necessitatibus aliquid perferendis aut fugiat. Laborum sunt nisi
    explicabo et facere consequuntur laudantium corporis, nobis eaque iste quae
    dolore a odio dignissimos quia. Natus minima aliquam nostrum quaerat
    consectetur incidunt voluptas, voluptatum maxime quisquam blanditiis
    architecto cupiditate, distinctio eius cumque delectus magnam! Doloremque
    blanditiis fugit tempore libero magnam, modi maiores similique deserunt
    mollitia facere itaque dolorum fuga soluta consequatur ipsum reprehenderit
    eligendi, ullam sint totam animi laborum dicta. Eligendi, repudiandae
    eveniet libero deleniti ullam minima temporibus distinctio quis dolorum
    corrupti quasi asperiores? Alias hic enim facere dolore a expedita cumque
    perspiciatis iusto itaque, ipsum dignissimos adipisci, maiores magni facilis
    repellat blanditiis ratione eius nam ab, assumenda labore excepturi
    mollitia. Itaque alias soluta consequuntur sint, ex minus. Aliquam quidem
    repellendus temporibus laborum, excepturi eaque hic? Fuga ipsum dolore sit
    architecto excepturi quibusdam laborum ex repellendus harum impedit eum,
    facilis ea pariatur, dicta quaerat!
  </p>
</Layout>
