---
const {class: className, id: id, pageIntroText} = Astro.props
---

<h3
  class={`{className} max-w-[45ch] w-full px-12 mx-auto py-20 text-2xl page-intro-text md:mx-start`}
  id={id}>
  {pageIntroText}
</h3>
