---
const {class: className, id: id, pageIntroText} = Astro.props
---

<h3
  class={`${className} px-6 py-20 text-2xl page-intro-text w-full max-w-[65ch] mx-auto md:mx-0`}
  id={id}>
  {pageIntroText}
</h3>
