---
const {title} = Astro.props
import "../styles/global.css"
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/ico+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body>
        
            <slot />
        </main>
	</body>
</html>

