---
const {title, navItems = [], pageIntroText} = Astro.props
import Navigation from '../components/Navigation.astro'
import PageIntroText from '../components/PageIntroText.astro'
import LandingPageFooter from '../components/LandingPageFooter.astro'
import MainFooter from '../components/MainFooter.astro'
import '../styles/global.css'

const activePage = new URL(Astro.request.url).pathname
const isHome = activePage === '/'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/ico+xml' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <script
      src='https://kit.fontawesome.com/e05f21b32e.js'
      crossorigin='anonymous'></script>
    <title>{title}</title>
  </head>
  <body class='bg-[var(--body-bg-color)]'>
    <Navigation navItems={navItems} />
    <slot />
    {!isHome ? <PageIntroText pageIntroText={pageIntroText} /> : ''}
    <!-- Inserting site-based footer -->
    {!isHome ? <MainFooter /> : <LandingPageFooter />}
  </body>
</html>
